* {
  box-sizing: border-box;
  font-family: georgia;
  color: white;
}

body {
  background-color: gray;
}

.highlights {
  font-family: 'Oswald', sans-serif;
}

.data {
  font-family: verdana;
  color: green;
}

.table {
  background-color: blue;
  color: yellow;
}

.boxes {
  background-color: blue;
}

ul {
  list-style-type: none;
  position: absolute;
  bottom: 30px;
}

li {
  text-decoration: none;
  display: inline-block;
}
