* {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.5
}

.clearfix {
  clear: both;
}

body.customer {
  margin: 0;
  background-color: #9FA8DA;
}
.navbar {
  background-color: #1A237E;
  padding: 35px 0;
  margin: 0;
  text-align: center;
}

.navitem {
  padding: 0 5.5%;
  text-align: center;
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: #d0caca;
}

.main{
  padding: 0 8%;
}

footer {
  background-color: #1A237E;
  padding: 10px 30px;
  margin: 0;
  color: white;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

#mainSalmon {
  margin-top: 2%;
}

img {
  margin: auto;
  display: block;
}

.hours {
  float: right;
}

figcaption {
  text-align: center;
}

.highlights {
  font-family: 'Oswald', sans-serif;
  color: blue;
}

.data {
  font-family: verdana;
  color: #134613
}

.text {
  font-family: georgia;
  color: yellow;
}

#grandOpen {
  font-size: 34px;
  text-align: center;
}

td {
  font-family: verdana;
  color: white;
}

table {
  background-color: #28282d;
  border: 1px solid black;
  color: white;
}

table#entryField {
  border: none;
}

table#summary {
  width: 100%;
  margin: 2.5% 0;
  border-collapse: collapse;
}

.underline {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li.location {
  display: block;
}

li {
  text-decoration: none;
  display: inline-block;
}
